
$screens: (
      laptop: 1024px,
      tablet: 768px,
      phone: 576px
);

$greenTheme: #80b23a;
$blueTheme: #0798bc;
$pinkTheme: rgb(243, 102, 126);
$orangeTheme: #ff1654;
$greenIndicator: #078b35;